/* Default Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  padding-top: 70px;
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #B1BED2;
  color: #fff;
  z-index: 1000;
}

nav {
  padding: 5px 90px;
  gap: 50px;
}

.logo {
  font-size: x-large;
  cursor: default;
  animation: fadeInOnly 1s ease-out forwards;
}

.nav-links {
  display: flex;
  gap: 40px;
  animation: fadeInUp 2s ease forwards;
}

.hamburger {
  font-size: 1.8rem;
  cursor: pointer;
  display: none;
}

/* Responsive mode */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .nav-links {
  position: absolute;
  top: 88px;
  right: 0;
  background-color: #B1BED2;
  flex-direction: column;
  align-items: center;
  width: 100%;
  display: none;
  padding: 1rem 0;
  gap: 1rem;
  animation: none;
}
.nav-links.active {
  display: flex;
 }
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  color: #fff;
  font-size: larger;
  font-weight: bold;
}

li a:hover {
  color: #4C7097;
  cursor: pointer;
}

#home img {
  width: 500px;
  padding-right: 20px;
  animation: slideInLeft 3s ease forwards;
}

.hero h1 {
  font-size: xx-large;
  animation: fadeInUp 2s ease forwards;
}

.hero p {
  animation: fadeInUp 3s ease forwards;
}

.cta-button  {
  width: 160px;
  padding: 5px 16px;
  height: 35px;
  background-color: #4C7097;
  border-radius: 10px;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
  animation: bounceIn 1s ease;
}

.cta-button:hover {
  background-color: #395471;
}

@media (max-width: 768px) {
   #home {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
   #home img {
    display: none;
    animation: fadeOut 0.5s ease forwards;
    pointer-events: none;
    overflow: hidden;
  }
  .hero h1,
  .hero p,
  #home img {
    animation: none;
  }
   #home .hero p,
   #home .hero h1,
   #home .cta-button {
    /* padding: 40px 20px; */
    opacity: 0;
    animation: fadeIn 1s ease forwards;
  }
   .cta-button {
     display: inline-block;
     width: 260px;
     background-color: #4C7097;
     padding: 5px 16px;
     border-radius: 10px;
      /* margin-top: 5px; */
  }
   .cta-button:hover {
      background-color: #395471;
  }
   #home .hero h1 {
    animation-delay: 0.2s;
   }
   #home .hero p {
    animation-delay: 0.5s;
   }
   #home .cta-button {
    animation-delay: 0.8s;
   }
}

#about img {
  width: 800px;
  padding-top: 20px;
  padding-left: 150px;
}

.fade-divider {
  color: #4C7097;
  font-size: xx-large;
  margin:  0 auto;
  opacity: 0;
  /* transform: translateY(20px); */
  transition: opacity 1s ease, transform 1s ease;
}

.fade-divider.show {
  opacity: 1;
  transform: translateY(0);
}

.fade-divider::before,
.fade-divider::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 0; /* panjang garis */
  height: 1px;
  background-color: #4C7097;
  transition: width 0.8s ease;
}

.fade-divider::before {
  right: 100%;
  margin-right: 20px; /* jarak dari teks */
}

.fade-divider::after {
  left: 100%;
  margin-left: 20px;
}

.fade-divider.show::before,
.fade-divider.show::after {
  width: 550px;
  transition-delay: 0.20s;
}

.content {
 display: flex;
 margin: 0 auto;
 justify-content: center;
}

.bio-container {
  position: relative;
  width: 100%;
  align-items: center;
  /* justify-content: center; */
}

.bio-image {
  position: absolute;
  max-width: 35%;
  opacity: 1;
}

.bio {
  position: relative;
  z-index: 2;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;
  color: black;
  animation: fadeInUp 2s ease forwards;
}

.bio p {
  padding-top: 15px;
  text-align: justify;
  line-height: 1.7;
}

.span {
  color: #ffffff; 
  font-size: xx-large;
}

@media (max-width: 768px) {
  .bio-container {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .bio-image {
    position: absolute;
    max-width: 120%;
    right: 22px;
    opacity: 0.4;
  }
  .bio {
    padding: 15px;
    max-width: 100%;
    background-color: transparent;
  }

  .bio p {
    width: 100%;
    padding: 0;
  }
  .span {
    color: #4C7097;
  }
}

.fade-order {
  color: #4C7097;
  font-size: xx-large;
  margin:  0 auto;
  white-space: nowrap;
  opacity: 0;
  /* transform: translateY(20px); */
  transition: opacity 1s ease, transform 1s ease;
}

.fade-order.show {
  opacity: 1;
  transform: translateY(0);
}

.fade-order::before,
.fade-order::after {
  content: "";
  top: 50%;
  width: 0; /* panjang garis */
  height: 1.6px;
  background-color: #4C7097;
  transition: width 0.8s ease;
}

.fade-order::before {
  right: 100%;
  margin-right: 20px; /* jarak dari teks */
}

.fade-order::after {
  left: 100%;
  margin-left: 20px;
}

.fade-order.show::before,
.fade-order.show::after {
  width: 510px;
  transition-delay: 0.20s;
}

.order p {
  background-color: #587fa9;
  position: relative;
  padding: 20px 30px;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  color: #fff;
  line-height: 1.2;
}

.fade-in {
  padding: 0 20%;
  opacity: 0;
  transform: translateY(20px);
  justify-content: center;
  text-align: justify;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

/* @media (max-width: 768px) {
  
} */

.carousel-inner{
   margin: 0 auto;
   align-items: center;
   justify-content: center;
}

 .carousel-item {
    padding: 2rem;
    background-color: #fffefe;
    border-radius: 10px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .carousel-item p {
    font-size: 1rem;
    text-align: justify;
    margin: 0 auto;
  }

  .carousel-container {
    max-width: 100%;
    margin: auto;
  }

  .carousel-indicators button {
  background-color: #4C7097;  /* warna default titik */
  width: 12px;
  height: auto;
  border-radius: 20%;
  border: none;
  margin: 0 5px;
  opacity: 3;  /* biar warnanya kelihatan */
}

.carousel-indicators .active {
  background-color: #4C7097;   /* warna saat aktif (biru misalnya) */
}

#category {
  padding: 2px 90px;
}

#category h2 {
  padding-top: 20px;
  color: #4C7097;
  font-size: xx-large;
}

#search-form {
  width: 500px;
  gap: 20px;
}

#search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex-grow: 1;
}

button[type="submit"] {
  background-color: #4C7097;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 20px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #395471;
}

@media (max-width: 768px) {
  #search-form {
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

#search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex-grow: 1;
}

button[type="submit"] {
  background-color: #4C7097;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 20px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #395471;
 }
}

.objects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 30px;
}

.object img {
  width: 100%;   /*ikut lebar grid cell
  /* height: auto;   */
  object-fit: cover; 
  /* width: 200px; */
  border-radius: 10px;
}

.object a {
 color: #4C7097;
 text-align: center;
 font-size: large;
 text-decoration: none;
 font-weight: 600;
}

@media (max-width: 992px) {
  .objects {
    grid-template-columns: repeat(3, 1fr);
 }
}

@media (max-width: 600px) {
  .objects {
    grid-template-columns: repeat(2, 1fr);
 }
}

@media (max-width: 400px) {
  .objects {
    grid-template-columns: 1fr;
 }
}

.footer {
  width: 100%;
  background-color: #B1BED2;
  padding: 20px;
  flex-wrap: wrap;
}

.method a {
  color: #fff;
}

.method a:hover{
  color: #395471;
}

.end {
  gap: 40px;
}

.other {
  gap: 70px;
}

@media (max-width: 768px) {
  .head{
    justify-content: center;
    margin: 0 auto;
  }

  .head p {
    text-align: justify;
  }

  .end {
    flex-direction: column;
  }

  .other {
    flex-direction: column;
    gap: 20px;
  }
}

@keyframes fadeInOnly {
   from { opacity: 0; }
   to { opacity: 1; }
}
@keyframes fadeInUp {
    0% { transform: translate(5px); opacity: 0; }
    100% { transform: translate(0px); opacity: 1; }
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0);}
}
@keyframes fadeOut {
  from { opacity: 1;}
  to { opacity: 0;}
}
@keyframes slideInLeft {
  from { opacity: 0; transform: translateX(-50px); }
  to { opacity: 1; transform: translateY(0); }
}
@keyframes bounceIn {
  0%   { transform: scale(0.95); opacity: 0; }
  50%  { transform: scale(1.05); opacity: 1; }
  100% { transform: scale(1); }
}