/* Default Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  padding-top: 70px;
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #B1BED2;
  color: #fff;
  z-index: 1000;
}

nav {
  padding: 5px 90px;
}

.logo {
  font-size: x-large;
  cursor: default;
  animation: slideRight 1s ease forwards;
}

.nav-links {
  gap: 40px;
  animation: fadeInUp 2s ease forwards;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  color: #fff;
  font-size: larger;
  font-weight: bold;
}

li a:hover {
  color: #4C7097;
  cursor: pointer;
}

#home img {
  width: 500px;
  padding-right: 20px;
}

.hero h1 {
  font-size: xx-large;
  animation: fadeInUp 2s ease forwards;
}

.cta-button  {
  width: 160px;
  padding: 5px 16px;
  height: 35px;
  background-color: #4C7097;
  border-radius: 10px;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.cta-button:hover {
  background-color: #395471;
}

#about img {
  width: 800px;
  padding-top: 20px;
  padding-left: 150px;
}

#about .divider {
  color: #4C7097;
  font-size: xx-large;
  margin:  0 auto;
}

#about .divider::before,
#about .divider::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 550px; /* panjang garis */
  height: 1px;
  background-color: #4C7097;
}

#about .divider::before {
  right: 100%;
  margin-right: 20px; /* jarak dari teks */
}

#about .divider::after {
  left: 100%;
  margin-left: 20px;
}

.bio {
  right: 150px;
  color: black;
  animation: fadeInUp 2s ease forwards;
}

.bio p {
  padding-top: 15px;
  text-align: justify;
}

.order h2 {
  font-size: xx-large;
  color: #4C7097;
  white-space: nowrap;
}

.order h2::before,
.order h2::after {
  content: "";
  top: 50%;
  width: 510px; /* panjang garis */
  height: 1px;
  background-color: #4C7097;
}

.order h2::before {
  right: 100%;
  margin-right: 20px; /* jarak dari teks */
}

.order h2::after {
  left: 100%;
  margin-left: 20px;
}

.order p {
  background-color: #587fa9;
  position: relative;
  padding: 20px 30px;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  color: #fff;
  line-height: 1.2;
}

.carousel-inner{
   margin: 0 auto;
   align-items: center;
   justify-content: center;
}

 .carousel-item {
    padding: 2rem;
    background-color: #fffefe;
    border-radius: 10px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .carousel-item p {
    font-size: 1rem;
    text-align: justify;
    margin: 0 auto;
  }

  .carousel-container {
    max-width: 100%;
    margin: auto;
  }

  .carousel-indicators button {
  background-color: #4C7097;  /* warna default titik */
  width: 12px;
  height: auto;
  border-radius: 20%;
  border: none;
  margin: 0 5px;
  opacity: 3;  /* biar warnanya kelihatan */
}

.carousel-indicators .active {
  background-color: #4C7097;   /* warna saat aktif (biru misalnya) */
}

#category {
  padding: 20px 90px;
}

#category h2 {
  padding-top: 50px;
  color: #4C7097;
  font-size: xx-large;
}

#search-form {
  width: 500px;
  gap: 20px;
}

#search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex-grow: 1;
}

button[type="submit"] {
  background-color: #4C7097;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 20px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #395471;
}

.objects {
  gap: 30px;
}

.object img {
  width: 200px;
  border-radius: 10px;
}

.object a {
 color: #4C7097;
 text-align: center;
 font-size: large;
 text-decoration: none;
 font-weight: 600;
}

.footer {
  width: 100%;
  background-color: #B1BED2;
  padding: 20px;
  flex-wrap: wrap;
}

.end {
  gap: 40px;
}

.other {
  gap: 100px;
}

@keyframes slideRight {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes fadeInUp {
    0% {
        transform: translate(5px);
        opacity: 0;
    }
    100% {
        transform: translate(0px);
        opacity: 1;
    }
}